body {
    font-family: "Times New Roman", serif;
    background-color: #f8f8f8;
    margin: 20px;
}

h1 {
    text-align: center;
    color: darkred;
}

h2 {
    color: brown;
}

img {
    width: 200px;
    height: auto;
}

a {
    color: darkblue;
}

ul {
    background-color: white;
    padding: 15px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th {
    background-color: darkred;
    color: white;
    padding: 10px;
}

td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}

.solido {
    background-color: #fff4cc;
}

.liquido {
    background-color: #dff4ff;
}

.valor {
    color: blue;
    font-weight: bold;
}

.total {
    color: green;
    font-weight: bold;
}
